;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.10.0"]
  [re-frame "1.0.0"]
  [cider/cider-nrepl "0.21.1"]]

 :builds
 {:main {:target :browser
         :output-dir "dev/js"
         :asset-path "/js"

         :modules
         {:main ;; <- becomes dev/js/main.js
          {:entries [com.sitecrafting.cumulus.core]}}

         ;; start a development http server on http://localhost:8008
         ;; In a Lando environment, Lando forwards to this port
         ;; for the dev proxy.
         :devtools
         {:http-root "dev"
          :http-port 8008}

         :release {:compiler-options {:optimizations :advanced}
                   :output-dir "dist/js"}}}

 :nrepl {:port 8009}}