:root {
  --cumulus-gutter: 1.5em;
}

.columns {
  display: flex;
}
/* Any column */
.columns > [class^='col'] {
  padding-right: var(--cumulus-gutter);
}
/* Any column appearing after any other column */
.columns > [class^='col'] + [class^='col'] {
  padding-left: var(--cumulus-gutter);
}
.columns > .col-60 {
  width: calc(60% - var(--cumulus-gutter));
}
.columns > .col-40 {
  width: calc(40% - var(--cumulus-gutter));
}
/* Stack component for consistent, generic vertical spacing */
.stack > * + * {
  margin-top: var(--cumulus-gutter);
}
.stack > .stack-exception {
  margin-top: 0;
}

.cumulus-scaled-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cumulus-crop-ui {
  width: 1000em;
  max-width: 95%;
  margin: 1em auto;
}
.cumulus-crop-sizes {
  display: flex;
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
}
.cumulus-crop-sizes li {
  padding: 0.3em 1em;

  text-transform: capitalize;
}
.cumulus-current-size {
  background: lightgrey;
  text-decoration: underline;
}
.cumulus-current-size a {
  color: black;
}
.cumulus-crop-sizes a {
  text-decoration: none;
}
.cumulus-crop-ui img {
  max-width: 100%;
}

.cumulus-dimensions {
  display: flex;
  justify-content: space-between;
}
.cumulus-dimension {
  display: inline-block;
  padding: 0.3em;
  border: 1px solid black;
}


/* Override WP styles to hide incompatible elements */
.attachment-actions .edit-attachment {
  display: none;
}